<div align="center">
  <td><%= image_tag 'top2.jpg', :id => "top_icon_3" %></td>
</div>


<div align="center">
  <div class="taitle">
    <table>
      <tr>
        <th></th>
        <td>待遇</td>
      </tr>
    </table>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div align="center">
  <div class="banner" data-link="<%= treatments_roger_path %>" >
    <table>
      <tr>
        <th></th>
        <td>
          <%= link_to image_tag('roger.jpg', { :border => '0', :alt => 'roger'}), treatments_roger_path %>
        </td>
      </tr>
    </table>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="center">
  <div class="banner" data-link="<%= richrds_path %>">
    <table>
      <tr>
        <%= link_to "", richrds_path %>
        <th></th>
        <td>
          <%= link_to image_tag('richrd.jpg', { :border => '0', :alt => 'richrd'}), richrds_path %>
        </td>
      </tr>
    </table>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
