<div align="center">
  <div class="banner">
    <div class="row">
      <div class="col-md-12 col-xs-12"><%= image_tag 'roger.jpg' %></div>
    </div>
  </div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-12 col-xs-12">　★業界トップクラスのバック料金！！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　お給料・お客様の質・スタッフの対応、働きやすさ、</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　全てに№1をここにお約束致します！！</div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-12 col-xs-12">　名古屋トップクラスの驚きの高待遇</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　お給料・お客様の質・スタッフの対応、働きやすさ、</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　全てに№1をここにお約束致します！！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　働きやすい環境であなたをお出迎え致します。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　高級店だからこそ女の子を大切に考え、過剰なプレイ等を求めない！！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　※当店は高級店でありがちなハードなサービスは全くありません</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　通常のデリバリーヘルスでソフトなサービスになりますので、</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　とても綺麗にお遊びされる紳士なお客様ばかりですのでご安心下さい。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　当店は女の子1人1人と真剣に向き合いあなたの夢を叶えます！！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　このお仕事をやる以上は目標を達成しなければ意味がありません！！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　（当店は未経験の女性が多いです）</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　貴方の環境を第一に考えます。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　先ずは当店の【待遇】【お客様の質】【働きやすさ】</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　を是非実感して下さい。</div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　【バック】</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　75min 最低25,000円～</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　90min 最低30,000円～</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　120min 最低40,000円～</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　※上記のバック(お給料)は全て手取り額です！！</div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-3 col-xs-4">　店名</div>
    <div class="col-md-3 col-xs-3">ROGER</div>
    <div class="col-md-6 col-xs-5"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center">

  <div class="row essential-5">
    <div class="col-md-3 col-xs-4">　職種</div>
    <div class="col-md-3 col-xs-3">デリヘル</div>
    <div class="col-md-6 col-xs-5"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-3 col-xs-4">　勤務地</div>
    <div class="col-md-3 col-xs-4">新栄・東新町・中区</div>
    <div class="col-md-6 col-xs-3"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-3 col-xs-4">　住所</div>
    <div class="col-md-3 col-xs-4">愛知県名古屋市中区</div>
    <div class="col-md-6 col-xs-4"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">
  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　地区・最寄駅</div>
    <div class="col-md-6 col-xs-8">地下鉄名城線矢場駅地下鉄・JR鶴舞線鶴舞駅</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div align="center" class="essential-5">

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　電話番号</div>
    <div class="col-md-3 col-xs-3">052-238-1586</div>
    <div class="col-md-6 col-xs-5"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">
  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　受付時間</div>
    <div class="col-md-3 col-xs-4">365日　24時間対応</div>
    <div class="col-md-6 col-xs-4"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　担当者</div>
    <div class="col-md-3 col-xs-3">採用担当</div>
    <div class="col-md-6 col-xs-5"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">
  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　オフィシャルサイト</div>
    <div class="col-md-3 col-xs-4"><%= link_to 'http://roger-gr.jp/', 'http://roger-gr.jp/' %></div>
    <div class="col-md-6 col-xs- 6"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">
  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　ヘブンネット掲載中</div>
    <div class="col-md-9 col-xs-8"><%= link_to 'http://www.cityheaven.net/t/roger/(ROGER)', 'http://www.cityheaven.net/t/roger/' %></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">
  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　メールアドレス</div>
    <div class="col-md-3 col-xs-3"><%= mail_to 'roger9762@icloud.com' %></div>
    <div class="col-md-6 col-xs-5"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center">
  <%= link_to '戻る', :back, id: 'back' %>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>
