<div class="page-header confirm_header">
  <div class="row">
    <div class="col-md-1 col-xs-2"></div>
    <div class="col-md-9 col-xs-8">以下の内容でよろしいですか？</div>
    <div class="col-md-2 col-xs-2"></div>
  </div>
</div>

<%= form_for @application, :url => mail_send_path do |f| %>
<br>

<div align="center">
  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-4 col-xs-4"><%= f.label :name, t('①お名前')%></div>
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-6 col-xs-6"><%= f.text_field :name, readonly: true %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-4 col-xs-4"><%= f.label :age, t('②年齢') %></div>
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-6 col-xs-6"><%= f.text_field :age, readonly: true  %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-4 col-xs-4"><%= f.label :height, t('③身長') %></div>
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-6 col-xs-6"><%= f.text_field :height, readonly: true  %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-4 col-xs-4"><%= f.label :weight, t('④体重') %></div>
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-6 col-xs-6"><%= f.text_field :weight, readonly: true %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-4 col-xs-4"><%= f.label :threesize, t("⑤スリーサイズ（B/W/H/)") %></div>
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-2 col-xs-2"><%= f.text_field :bust, readonly: true %></div>
      <div class="col-md-2 col-xs-2"><%= f.text_field :waist, readonly: true %></div>
      <div class="col-md-2 col-xs-2"><%= f.text_field :hip, readonly: true %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-4 col-xs-4"><%= f.label :cup, t('⑥cup数') %></div>
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-6 col-xs-6"><%= f.text_field :cup, readonly: true  %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-4 col-xs-4"><%= f.label :address, t('⑦お住まい') %></div>
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-6 col-xs-6"><%= f.text_field :address, readonly: true %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-6 col-xs-6"><%= f.label :experience, t("⑧風俗経験(あり・なし）") %></div>
      <div class="col-md-6 col-xs-6"><%= f.text_field :experience, readonly: true %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-4 col-xs-4"><%= f.label :profession, t('⑨現在の職業') %></div>
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-6 col-xs-6"><%= f.text_field :profession, readonly: true %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-6 col-xs-6"><%= f.label :preferreddate, t("⑩面接希望日時(日付/時間)") %></div>
      <div class="col-md-4 col-xs-4"><%= f.text_field :date, readonly: true %></div>
      <div class="col-md-2 col-xs-2"><%= f.text_field :time, readonly: true %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-6 col-xs-6"><%= f.label :contact, t("⑪ご連絡先(mail or tell)") %></div>
      <div class="col-md-6 col-xs-6"><%= f.text_field :contact, readonly: true %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row application_content sampleRow">
      <div class="col-md-5 col-xs-5"><%= f.label :question, t('⑫質問事項等')  %></div>
      <div class="col-md-1 col-xs-1"></div>
      <div class="col-md-6 col-xs-6"><%= f.text_field :question, readonly: true  %></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <%= f.submit '送信', id:'confirm' %>
  <br>
  <br>
  <%= link_to '戻る', :back, id:'back' %>
  <br>
  <br>
</div>

<% end %>
