<%= form_for @inquiry, :url => applications_confirm_path do |f| %>
  <div align="center">
    <td><%= image_tag 'top2.jpg', id: 'top_icon_5' %></td>
  </div>

  <div align="center">
    <div class="taitle">
      <table>
        <tr>
          <th></th>
          <td>応募フォーム</td>
        </tr>
      </table>
    </div>
  </div>

  <br>

  <div align="center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-4 col-xs-4"><%= f.label :name, t('①お名前')%></div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-6 col-xs-6"><%= f.text_field :name %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-4 col-xs-4"><%= f.label :age, t('②年齢') %></div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-6 col-xs-6"><%= f.select :age, @age.map { |a| a.to_s + '歳'} %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-4 col-xs-4"><%= f.label :height, t('③身長') %></div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-6 col-xs-6"><%= f.select :height, @height.map { |h| h.to_s + 'cm'} %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-4 col-xs-4"><%= f.label :weight, t('④体重') %></div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-6 col-xs-6"><%= f.select :weight, @weight.map { |w| w.to_s + 'kg'} %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-6 col-xs-6"><%= f.label :threesize, t("⑤スリーサイズ（B/W/H/)") %></div>
        <div class="col-md-2 col-xs-2"><%= f.select :bust, @bust %></div>
        <div class="col-md-2 col-xs-2"><%= f.select :waist, @waist %></div>
        <div class="col-md-2 col-xs-2"><%= f.select :hip, @hip %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-4 col-xs-4"><%= f.label :cup, t('⑥cup数') %></div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-6 col-xs-6"><%= f.select :cup, @cup.map { |c| c.to_s + ' Cup'} %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-4 col-xs-4"><%= f.label :address, t('⑦お住まい') %></div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-6 col-xs-6"><%= f.text_field :address %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-6 col-xs-6"><%= f.label :experience, t("⑧風俗経験(あり・なし）") %></div>
        <div class="col-md-6 col-xs-6"><%= f.select :experience, ['あり', 'なし'] %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-4 col-xs-4"><%= f.label :profession, t('⑨現在の職業') %></div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-6 col-xs-6"><%= f.text_field :profession %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-6 col-xs-6"><%= f.label :preferreddate, t("⑩面接希望日時(日付/時間)") %></div>
        <div class="col-md-4 col-xs-4"><%= f.select :date, @days %></div>
        <div class="col-md-2 col-xs-2"><%= f.select :time, @time %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-6 col-xs-6"><%= f.label :contact, t("⑪ご連絡先(mail or tell)") %></div>
        <div class="col-md-6 col-xs-6"><%= f.text_field :contact %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row application_content sampleRow">
        <div class="col-md-5 col-xs-5"><%= f.label :question, t('⑫質問事項等')  %></div>
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-6 col-xs-6"><%= f.text_field :question  %></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <%= f.submit '確認', class: 'btn-primary', id: 'confirm' %>
  </div>
<% end %>
<br>
<br>
<br>
<br>
