<h2>応募がありました。</h2>
<p>
  名前:<%= @greeting[:name] %>
<p>
  年齢:<%= @greeting[:age] %>
<p>
  身長:<%= @greeting[:height] %>
<p>
  体重:<%= @greeting[:weight] %>
<p>
  Cup:<%= @greeting[:cup] %>
<p>
  住所:<%= @greeting[:address] %>
<p>
  風俗経験:<%= @greeting[:experience] %>
<p>
  スリーサイズB/W/H:<%= @greeting[:bust] %>/<%= @greeting[:waist] %>/<%= @greeting[:hip] %>
<p>
  面接希望日:<%= @greeting[:date] %>/<%= @greeting[:time] %>時
<p>
  連絡先:<%= @greeting[:contact] %>
<p>
  質問事項:<%= @greeting[:question] %>
<p>
