<div class="top">
  <%= image_tag 'top.jpg', :id => "top_icon" %>
</div>

<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <ul class="bxslider">
      <li>
        <%= link_to image_tag('roger.jpg', { :border => '0', :alt => 'roger', id:'slid_roger'}), treatments_roger_path %>
      </li>
      <li>
        <%= link_to image_tag('richrd.jpg', { :border => '0', :alt => 'roger', id:'slid_richrd'}), richrds_path %>
      </li>
    </ul>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="menu_area_1">
  <div class="col-md-4 col-xs-4 "></div>
  <div class="col-md-4 col-xs-4 title"><%= link_to 'CONCEPT', controller: 'concepts', action: 'index' %></div>
  <div class="col-md-4 col-xs-4 arow">></div>
</div>

<div class="menu_area_2">
  <div class="col-md-4 col-xs-4 "></div>
  <div class="col-md-4 col-xs-4 title"><%= link_to '待　遇', controller: 'treatments', action: 'index'%></div>
  <div class="col-md-4 col-xs-4 arow">></div>
</div>

<div class="menu_area_1">
  <div class="col-md-4 col-xs-4 "></div>
  <div class="col-md-4 col-xs-4 title"><%= link_to '募集要項', controller: 'requirements', action: 'index'%></div>
  <div class="col-md-4 col-xs-4 arow">></div>
</div>

<div class="menu_area_2">
  <div class="col-md-3 col-xs-3 "></div>
  <div class="col-md-6 col-xs-6 title"><%= link_to '入店までの流れ', controller: 'flows', action: 'index'%></div>
  <div class="col-md-3 col-xs-3 arow">></div>
</div>

<div class="menu_area_1">
  <div class="col-md-4 col-xs-3 "></div>
  <div class="col-md-4 col-xs-6 title"><%= link_to '応募フォーム', controller: 'applications', action: 'index'%></div>
  <div class="col-md-4 col-xs-3 arow">></div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
