<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>

    <title>NAGOYA FIRST ONE GROUP</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <div class="row">
      <div class="col-md-1 col-xs-2 ">
        <!-- プルダウンメニュー -->
        <ul id="menu">
          <li class="menu" ><%= image_tag 'menu.jpg' %>
          <ul class="child">
            <li><%= link_to 'CONCEPT', controller: 'concepts', action: 'index'%></li>
            <li><%= link_to '待遇', controller: 'treatments', action: 'index'%></li>
            <li><%= link_to '募集要項', controller: 'requirements', action: 'index'%></li>
            <li><%= link_to '入店までの流れ', controller: 'flows', action: 'index'%></li>
            <li><%= link_to '応募フォーム', controller: 'applications', action: 'index'%></li>
          </ul>
        </li>
      </div>
      <!-- 共通タイトル -->
      <div class="col-md-10 col-xs-10 header">NAGOYA FIRST ONE GROUP</div>
      <div class="col-md-1 col-xs-0 "></div>
    </div>
  </head>
  <body>
    <br>

    <%= yield %>

    <br>
    <div align="center">
      <div class="footer">
        <table>
          <tr>
            <td><%= link_to 'TOP', items_path %></td>
          </tr>
        </table>
      </div>

  </body>
</html>
